{{#if success_msg}}
<div class="message text-success">
    <h4 class="mb-4">{{success_msg}}</h4>
</div>
{{/if}}

{{#if error_msg}}
<div class="message text-center text-danger">
    <h4 class="mb-4">{{error_msg}}</h4>
</div>
{{/if}}